<!DOCTYPE html>
<html lang="en">
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Brand Comparison</title>
</head>
<body>
    <div style="background-image: url('static/image/bgimg2.jpg')">
        <div class="container-fluid" >
            <br><br>
            <h1 class="text-center" style="color:white">........ Comparison ........</h1>
            <br><br>
            <div class="container-sm">
			    <embed type="image/svg+xml" src={{graph_data1|safe}} class="img-fluid"/>
			    <br><br>
			    <a href="/" class="btn btn-primary" role="button">Back</a>
	        </div>
	        <br><br>
	    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
